In [1]:
create procedure dbo.spIncreaseEmployeeeSalary
@salaryInput int, 
@employeeId  int 
as
begin
declare @managerCount int 
set @managerCount= (select COUNT(manager_id) 
as Empcount from employees  where manager_id is not null  and manager_id=@employeeId group by manager_id)
if(@managerCount>1)
begin
if(@salaryInput>0)
begin
update employees set salary=salary+@salaryInput where employee_id=@employeeId
end
else
print 'Please Enter a valid salary it should be greater than 0'
end
else
print'Error , Manager count should be greater than 0'
end

exec dbo.spIncreaseEmployeeeSalary 1000,100

: Msg 2714, Level 16, State 3, Procedure spIncreaseEmployeeeSalary, Line 1
There is already an object named 'spIncreaseEmployeeeSalary' in the database.