In [1]:
--1.
select  job_id, AVG(salary) as Average,MIN(salary) as Minimum,MAX(salary) as Mamximum from employees where job_id<18  group BY job_id

job_id,Average,Minimum,Mamximum
1,8300.000000,8300.00,8300.00
2,12000.000000,12000.00,12000.00
3,4400.000000,4400.00,4400.00
4,24000.000000,24000.00,24000.00
5,17000.000000,17000.00,17000.00
6,7920.000000,6900.00,9000.00
7,12000.000000,12000.00,12000.00
8,6500.000000,6500.00,6500.00
9,5760.000000,4200.00,9000.00
10,13000.000000,13000.00,13000.00
11,6000.000000,6000.00,6000.00
12,10000.000000,10000.00,10000.00
13,2780.000000,2500.00,3100.00
14,11000.000000,11000.00,11000.00
15,13750.000000,13500.00,14000.00
16,7550.000000,6200.00,8600.00
17,3950.000000,3900.00,4000.00

In [2]:
--2.
select d.department_name ,COUNT(e.department_id) as number_of_employees from employees e inner join departments d on e.department_id=d.department_id group by d.department_name

department_name,number_of_employees
Accounting,2
Administration,1
Executive,3
Finance,6
Human Resources,1
IT,5
Marketing,2
Public Relations,1
Purchasing,6
Sales,6
Shipping,7

In [5]:
--3.
select count(e.employee_id) as count_employees,e.manager_id,m.first_name as managerName from employees e join employees m on e.manager_id=m.employee_id GROUP by e.manager_id,m.first_name

count_employees,manager_id,managerName
14,100,Steven
5,101,Neena
1,102,Lex
4,103,Alexander
5,108,Nancy
5,114,Den
1,120,Matthew
2,123,Shanta
1,201,Michael
1,205,Shelley

In [6]:
--4.
select top 16 e.last_name , e.department_id , d.department_name from employees e inner join departments d on e.department_id=d.department_id order by e.last_name

last_name,department_id,department_name
Austin,6,IT
Baer,7,Public Relations
Baida,3,Purchasing
Bell,5,Shipping
Chen,10,Finance
Colmenares,3,Purchasing
De Haan,9,Executive
Ernst,6,IT
Everett,5,Shipping
Faviet,10,Finance
Fay,2,Marketing
Fripp,5,Shipping
Gietz,11,Accounting
Grant,8,Sales
Greenberg,10,Finance
Hartstein,2,Marketing

In [7]:
--5.
select d.department_name as department_name,l.street_address as locations,l.city as city, l.country_id as country from departments d inner join locations l on d.location_id=l.location_id where l.location_id=2400

department_name,locations,city,country
Human Resources,8204 Arthur St,London,UK

In [8]:
--6.
select e.last_name ,d.department_name , d.location_id , l.city  from employees e  join departments d on e.department_id=d.department_id join locations l on l.location_id=d.location_id where d.department_id in (6,10,3) order by l.location_id

last_name,department_name,location_id,city
Hunold,IT,1400,Southlake
Ernst,IT,1400,Southlake
Austin,IT,1400,Southlake
Pataballa,IT,1400,Southlake
Lorentz,IT,1400,Southlake
Greenberg,Finance,1700,Seattle
Faviet,Finance,1700,Seattle
Chen,Finance,1700,Seattle
Sciarra,Finance,1700,Seattle
Urman,Finance,1700,Seattle
Popp,Finance,1700,Seattle
Raphaely,Purchasing,1700,Seattle
Khoo,Purchasing,1700,Seattle
Baida,Purchasing,1700,Seattle
Tobias,Purchasing,1700,Seattle
Himuro,Purchasing,1700,Seattle
Colmenares,Purchasing,1700,Seattle

In [9]:
--7.
select e.last_name as last_name,d.department_name as department_name from employees e inner join departments d on e.department_id=d.department_id

last_name,department_name
King,Executive
Kochhar,Executive
De Haan,Executive
Hunold,IT
Ernst,IT
Austin,IT
Pataballa,IT
Lorentz,IT
Greenberg,Finance
Faviet,Finance
Chen,Finance
Sciarra,Finance
Urman,Finance
Popp,Finance
Raphaely,Purchasing
Khoo,Purchasing
Baida,Purchasing
Tobias,Purchasing
Himuro,Purchasing
Colmenares,Purchasing
Weiss,Shipping
Fripp,Shipping
Kaufling,Shipping
Vollman,Shipping
Mikkilineni,Shipping
Russell,Sales
Partners,Sales
Taylor,Sales
Livingston,Sales
Grant,Sales
Johnson,Sales
Bell,Shipping
Everett,Shipping
Whalen,Administration
Hartstein,Marketing
Fay,Marketing
Mavris,Human Resources
Baer,Public Relations
Higgins,Accounting
Gietz,Accounting

In [10]:
--8.
select top 17 e.last_name as Last_name, e.department_id as department_number, d.department_name as department_name, j.job_title as job_title from employees e inner join jobs j on j.job_id=e.job_id inner join departments d on e.department_id=d.department_id

Last_name,department_number,department_name,job_title
King,9,Executive,President
Kochhar,9,Executive,Administration Vice President
De Haan,9,Executive,Administration Vice President
Hunold,6,IT,Programmer
Ernst,6,IT,Programmer
Austin,6,IT,Programmer
Pataballa,6,IT,Programmer
Lorentz,6,IT,Programmer
Greenberg,10,Finance,Finance Manager
Faviet,10,Finance,Accountant
Chen,10,Finance,Accountant
Sciarra,10,Finance,Accountant
Urman,10,Finance,Accountant
Popp,10,Finance,Accountant
Raphaely,3,Purchasing,Purchasing Manager
Khoo,3,Purchasing,Purchasing Clerk
Baida,3,Purchasing,Purchasing Clerk

In [11]:
--9.
select e.employee_id as 'employee number',e.last_name as 'Employee name', e.manager_id as Manager_id,a.first_name as manager, a.manager_id as 'Manager Number' from employees e join employees a on e.manager_id=a.employee_id where e.employee_id<118

employee number,Employee name,Manager_id,manager,Manager Number
101,Kochhar,100,Steven,NULL
102,De Haan,100,Steven,NULL
103,Hunold,102,Lex,100
104,Ernst,103,Alexander,102
105,Austin,103,Alexander,102
106,Pataballa,103,Alexander,102
107,Lorentz,103,Alexander,102
108,Greenberg,101,Neena,100
109,Faviet,108,Nancy,101
110,Chen,108,Nancy,101
111,Sciarra,108,Nancy,101
112,Urman,108,Nancy,101
113,Popp,108,Nancy,101
114,Raphaely,100,Steven,NULL
115,Khoo,114,Den,100
116,Baida,114,Den,100
117,Tobias,114,Den,100

In [12]:
--10.
select top 17 last_name ,department_id as department_number from employees order by last_name

last_name,department_number
Austin,6
Baer,7
Baida,3
Bell,5
Chen,10
Colmenares,3
De Haan,9
Ernst,6
Everett,5
Faviet,10
Fay,2
Fripp,5
Gietz,11
Grant,8
Greenberg,10
Hartstein,2
Higgins,11

In [13]:
--11.
select  top 16 'C' AS GRADE, concat(first_name,' ',last_name)as name, salary, department_id, job_title from employees e inner join jobs j on j.job_id=e.job_id

GRADE,name,salary,department_id,job_title
C,Steven King,24000.00,9,President
C,Neena Kochhar,17000.00,9,Administration Vice President
C,Lex De Haan,17000.00,9,Administration Vice President
C,Alexander Hunold,9000.00,6,Programmer
C,Bruce Ernst,6000.00,6,Programmer
C,David Austin,4800.00,6,Programmer
C,Valli Pataballa,4800.00,6,Programmer
C,Diana Lorentz,4200.00,6,Programmer
C,Nancy Greenberg,12000.00,10,Finance Manager
C,Daniel Faviet,9000.00,10,Accountant
C,John Chen,8200.00,10,Accountant
C,Ismael Sciarra,7700.00,10,Accountant
C,Jose Manuel Urman,7800.00,10,Accountant
C,Luis Popp,6900.00,10,Accountant
C,Den Raphaely,11000.00,3,Purchasing Manager
C,Alexander Khoo,3100.00,3,Purchasing Clerk