In [1]:
--1) 
select top(18) first_name, last_name, salary, department_id, job_id from employees1 where JOB_ID='SA_REP'

first_name,last_name,salary,department_id,job_id
Peter,Tucker,10000.00,80,SA_REP
David,Bernstein,9500.00,80,SA_REP
Peter,Hall,9000.00,80,SA_REP
Christopher,Olsen,8000.00,80,SA_REP
Nanette,Cambrault,7500.00,80,SA_REP
Oliver,Tuvault,7000.00,80,SA_REP
Janette,King,10000.00,80,SA_REP
Patrick,Sully,9500.00,80,SA_REP
Allan,McEwen,9000.00,80,SA_REP
Lindsey,Smith,8000.00,80,SA_REP
Louise,Doran,7500.00,80,SA_REP
Sarath,Sewall,7000.00,80,SA_REP
Clara,Vishney,10500.00,80,SA_REP
Danielle,Greene,9500.00,80,SA_REP
Mattea,Marvins,7200.00,80,SA_REP
David,Lee,6800.00,80,SA_REP
Sundar,Ande,6400.00,80,SA_REP
Amit,Banda,6200.00,80,SA_REP

In [2]:
--2) 
select first_name,last_name,employee_id salary from employees1 where MANAGER_ID = '122'

first_name,last_name,salary
Jason,Mallin,133
Michael,Rogers,134
Ki,Gee,135
Hazel,Philtanker,136
Kelly,Chung,188
Jennifer,Dilly,189
Timothy,Gates,190
Randall,Perkins,191

In [3]:
--3) 
select first_name,last_name,hire_date from employees1 where HIRE_DATE between '08/01/1987' and '08/19/1987'

first_name,last_name,hire_date
John,Russell,1987-08-01
Karen,Partners,1987-08-02
Alberto,Errazuriz,1987-08-03
Gerald,Cambrault,1987-08-04
Eleni,Zlotkey,1987-08-05
Peter,Tucker,1987-08-06
David,Bernstein,1987-08-07
Peter,Hall,1987-08-08
Christopher,Olsen,1987-08-09
Nanette,Cambrault,1987-08-10
Oliver,Tuvault,1987-08-11
Janette,King,1987-08-12
Patrick,Sully,1987-08-13
Allan,McEwen,1987-08-14
Lindsey,Smith,1987-08-15
Louise,Doran,1987-08-16
Sarath,Sewall,1987-08-17
Clara,Vishney,1987-08-18
Danielle,Greene,1987-08-19

In [4]:
--4) 
select employee_id, first_name,last_name,job_id from employees1 where EMPLOYEE_ID between '103' and '120'

employee_id,first_name,last_name,job_id
103,Alexander,Hunold,IT_PROG
104,Bruce,Ernst,IT_PROG
105,David,Austin,IT_PROG
106,Valli,Pataballa,IT_PROG
107,Diana,Lorentz,IT_PROG
108,Nancy,Greenberg,FI_MGR
109,Daniel,Faviet,FI_ACCOUNT
110,John,Chen,FI_ACCOUNT
111,Ismael,Sciarra,FI_ACCOUNT
112,Jose Manuel,Urman,FI_ACCOUNT
113,Luis,Popp,FI_ACCOUNT
114,Den,Raphaely,PU_MAN
115,Alexander,Khoo,PU_CLERK
116,Shelli,Baida,PU_CLERK
117,Sigal,Tobias,PU_CLERK
118,Guy,Himuro,PU_CLERK
119,Karen,Colmenares,PU_CLERK
120,Matthew,Weiss,ST_MAN

In [5]:
--5)
 select first_name,last_name, department_id from employees1 where DEPARTMENT_ID in (90,60,100,30);

first_name,last_name,department_id
Steven,King,90
Neena,Kochhar,90
Lex,De Haan,90
Alexander,Hunold,60
Bruce,Ernst,60
David,Austin,60
Valli,Pataballa,60
Diana,Lorentz,60
Nancy,Greenberg,100
Daniel,Faviet,100
John,Chen,100
Ismael,Sciarra,100
Jose Manuel,Urman,100
Luis,Popp,100
Den,Raphaely,30
Alexander,Khoo,30
Shelli,Baida,30
Sigal,Tobias,30
Guy,Himuro,30
Karen,Colmenares,30

In [6]:
--6)  
select department_id,sum(salary) as salarytotal from employees1 where department_id!=0 group by department_id;

department_id,salarytotal
10,4400.00
20,19000.00
30,24900.00
40,6500.00
50,156400.00
60,28800.00
70,10000.00
80,304500.00
90,58000.00
100,51600.00
110,20300.00

In [7]:
--7)
 select first_name,last_name from employees1 where manager_id in (select manager_id from employees1 where manager_id in (100,101));

first_name,last_name
Neena,Kochhar
Lex,De Haan
Nancy,Greenberg
Den,Raphaely
Matthew,Weiss
Adam,Fripp
Payam,Kaufling
Shanta,Vollman
Kevin,Mourgos
John,Russell
Karen,Partners
Alberto,Errazuriz
Gerald,Cambrault
Eleni,Zlotkey
Jennifer,Whalen
Michael,Hartstein
Susan,Mavris
Hermann,Baer
Shelley,Higgins

In [8]:
--8) 
select first_name ,last_name from employees1 where department_id in (select department_id from employees1 group by department_id having COUNT(department_id) 
between 1 and 2) and MANAGER_ID not in(201,205);

first_name,last_name
Kimberely,Grant
Jennifer,Whalen
Michael,Hartstein
Susan,Mavris
Hermann,Baer
Shelley,Higgins

In [9]:
--9) 
Select * from departments where department_id in (Select department_id  from employees1 where employee_id in 
 (select employee_id from job_history group by employee_id having Count(employee_id) > 1) group by department_id  having MAX(salary) > 7000);

DEPARTMENT_ID,DEPARTMENT_NAME,MANAGER_ID,LOCATION_ID
80,Sales,145,2500
90,Executive,100,1700

In [10]:
--10)
 select * from departments where department_id in (70,90,110)

DEPARTMENT_ID,DEPARTMENT_NAME,MANAGER_ID,LOCATION_ID
70,Public Relations,204,2700
90,Executive,100,1700
110,Accounting,205,1700

In [11]:
--11) 
with tt as
(select department_id,first_name ,last_name,salary, Row_Number() over (Partition by department_id order by  department_id  ) as rank from employees1
)
select department_id,CONCAT(first_name ,last_name) as 'full_name',salary from tt where rank=1 order by department_id desc

department_id,full_name,salary
110,ShelleyHiggins,12000.00
100,NancyGreenberg,12000.00
90,StevenKing,24000.00
80,JohnRussell,14000.00
70,HermannBaer,10000.00
60,AlexanderHunold,9000.00
50,MatthewWeiss,8000.00
40,SusanMavris,6500.00
30,DenRaphaely,11000.00
20,MichaelHartstein,13000.00
10,JenniferWhalen,4400.00
0,KimberelyGrant,7000.00

In [12]:
--12) 
select job_id,  job_title, min_salary,max_salary from jobs where job_id = 'SA_REP'

job_id,job_title,min_salary,max_salary
SA_REP,Sales Representative,6000,12000