In [1]:
select TOP 11  Track.Name as 'TrackName', Track.Composer, Track.Milliseconds, Track.Bytes, Album.Title as 'AlbumName', MediaType.Name
as 'MediaTypeName' , Genre.Name as 'GenereName' From Track 
JOIN Album ON Track.AlbumId=Album.AlbumId
JOIN MediaType ON (Track.MediaTypeId=MediaType.MediaTypeId)
JOIN Genre ON Track.GenreId=Genre.GenreId

TrackName,Composer,Milliseconds,Bytes,AlbumName,MediaTypeName,GenereName
For Those About To Rock (We Salute You),"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,For Those About To Rock We Salute You,MPEG audio file,Rock
Balls to the Wall,NULL,342562,5510424,Balls to the Wall,Protected AAC audio file,Rock
Fast As a Shark,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman",230619,3990994,Restless and Wild,Protected AAC audio file,Rock
Restless and Wild,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman",252051,4331779,Restless and Wild,Protected AAC audio file,Rock
Princess of the Dawn,Deaffy & R.A. Smith-Diesel,375418,6290521,Restless and Wild,Protected AAC audio file,Rock
Put The Finger On You,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,For Those About To Rock We Salute You,MPEG audio file,Rock
Let's Get It Up,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,For Those About To Rock We Salute You,MPEG audio file,Rock
Inject The Venom,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,For Those About To Rock We Salute You,MPEG audio file,Rock
Snowballed,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,For Those About To Rock We Salute You,MPEG audio file,Rock
Evil Walks,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,For Those About To Rock We Salute You,MPEG audio file,Rock
C.O.D.,"Angus Young, Malcolm Young, Brian Johnson",199836,6566314,For Those About To Rock We Salute You,MPEG audio file,Rock

In [3]:
select TOP 10 CONCAT (Customer.FirstName ,' ', Customer.LastName) as 'FullName', Invoice.InvoiceId, Invoice.InvoiceDate, Invoice.BillingCountry
from Customer
JOIN Invoice ON Customer.CustomerId=Invoice.CustomerId where BillingCountry='Brazil'

FullName,InvoiceId,InvoiceDate,BillingCountry
Eduardo Martins,25,2009-04-09 00:00:00.000,Brazil
Roberto Almeida,34,2009-05-23 00:00:00.000,Brazil
Fernanda Ramos,35,2009-06-05 00:00:00.000,Brazil
Alexandre Rocha,57,2009-09-06 00:00:00.000,Brazil
Fernanda Ramos,58,2009-09-07 00:00:00.000,Brazil
Alexandre Rocha,68,2009-10-17 00:00:00.000,Brazil
Fernanda Ramos,80,2009-12-10 00:00:00.000,Brazil
Luís Gonçalves,98,2010-03-11 00:00:00.000,Brazil
Luís Gonçalves,121,2010-06-13 00:00:00.000,Brazil
Alexandre Rocha,123,2010-06-17 00:00:00.000,Brazil

In [4]:
select emp.EmployeeId, sum(inv.Total) as TotalSale
from Employee emp
JOIN Customer cust ON emp.EmployeeId=cust.SupportRepId
JOIN Invoice inv ON inv.CustomerId=cust.CustomerId group by cust.SupportRepId, emp.EmployeeId

EmployeeId,TotalSale
3,833.04
4,775.40
5,720.16

In [5]:
select inv.InvoiceLineId,inv.InvoiceId,inv.TrackId,inv.UnitPrice,inv.Quantity,al.Title as Track,ar.Name as Artist
from InvoiceLine inv join Track tr on inv.TrackId=tr.TrackId join Album al on al.AlbumId=tr.AlbumId
join Artist ar on ar.ArtistId = al.ArtistId where tr.TrackId between 1 and 4

InvoiceLineId,InvoiceId,TrackId,UnitPrice,Quantity,Track,Artist
579,108,1,0.99,1,For Those About To Rock We Salute You,AC/DC
1,1,2,0.99,1,Balls to the Wall,Accept
1154,214,2,0.99,1,Balls to the Wall,Accept
1728,319,3,0.99,1,Restless and Wild,Accept
2,1,4,0.99,1,Restless and Wild,Accept

In [6]:
select em.FirstName,em.LastName,inv.InvoiceId,cu.CustomerId,inv.InvoiceDate,inv.BillingAddress,inv.BillingCountry,inv.BillingPostalCode
from Employee em join Customer cu on em.EmployeeId=cu.SupportRepId join Invoice inv on inv.CustomerId=cu.CustomerId 
where inv.InvoiceDate between '2009-01-01 00:00:00.000' and '2009-04-15 00:00:00.000' and em.FirstName='jane'

FirstName,LastName,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCountry,BillingPostalCode
Jane,Peacock,6,37,2009-01-19 00:00:00.000,Berger Straße 10,Germany,60316
Jane,Peacock,7,38,2009-02-01 00:00:00.000,Barbarossastraße 19,Germany,10779
Jane,Peacock,9,42,2009-02-02 00:00:00.000,"9, Place Louis Barthou",France,33000
Jane,Peacock,10,46,2009-02-03 00:00:00.000,3 Chatham Street,Ireland,NULL
Jane,Peacock,11,52,2009-02-06 00:00:00.000,202 Hoxton Street,United Kingdom,N1 5LH
Jane,Peacock,15,19,2009-03-04 00:00:00.000,1 Infinite Loop,USA,95014
Jane,Peacock,23,59,2009-04-05 00:00:00.000,"3,Raj Bhavan Road",India,560001
Jane,Peacock,26,19,2009-04-14 00:00:00.000,1 Infinite Loop,USA,95014

In [7]:
select cu.FirstName as Customer_name,inv.InvoiceDate as OrderDate from Customer cu join invoice inv 
on cu.CustomerId=inv.CustomerId where inv.InvoiceDate between '2012-01-01 00:00:00.000' and '2012-03-11 00:00:00.000'

Customer_name,OrderDate
Mark,2012-01-01 00:00:00.000
Eduardo,2012-01-09 00:00:00.000
Alexandre,2012-01-22 00:00:00.000
Fernanda,2012-01-22 00:00:00.000
Jennifer,2012-01-23 00:00:00.000
Tim,2012-01-24 00:00:00.000
Victor,2012-01-27 00:00:00.000
João,2012-02-01 00:00:00.000
Johannes,2012-02-09 00:00:00.000
Stanisław,2012-02-22 00:00:00.000
Joakim,2012-02-22 00:00:00.000
Phil,2012-02-23 00:00:00.000
Luis,2012-02-24 00:00:00.000
Bjørn,2012-02-27 00:00:00.000
Fernanda,2012-03-03 00:00:00.000
Patrick,2012-03-11 00:00:00.000

In [8]:
select top 8 CONCAT(cu.FirstName,' ',cu.LastName)as 'Sales Agent',inv.InvoiceId,cu.CustomerId,
inv.InvoiceDate,inv.BillingAddress,inv.BillingCity,inv.BillingState,inv.BillingCountry,inv.BillingPostalCode,
inv.Total from Customer cu join Invoice inv on cu.CustomerId=inv.CustomerId

Sales Agent,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
Leonie Köhler,1,2,2009-01-01 00:00:00.000,Theodor-Heuss-Straße 34,Stuttgart,NULL,Germany,70174,1.98
Bjørn Hansen,2,4,2009-01-02 00:00:00.000,Ullevålsveien 14,Oslo,NULL,Norway,0171,3.96
Daan Peeters,3,8,2009-01-03 00:00:00.000,Grétrystraat 63,Brussels,NULL,Belgium,1000,5.94
Mark Philips,4,14,2009-01-06 00:00:00.000,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,8.91
John Gordon,5,23,2009-01-11 00:00:00.000,69 Salem Street,Boston,MA,USA,2113,13.86
Fynn Zimmermann,6,37,2009-01-19 00:00:00.000,Berger Straße 10,Frankfurt,NULL,Germany,60316,0.99
Niklas Schröder,7,38,2009-02-01 00:00:00.000,Barbarossastraße 19,Berlin,NULL,Germany,10779,1.98
Dominique Lefebvre,8,40,2009-02-01 00:00:00.000,"8, Rue Hanovre",Paris,NULL,France,75002,1.98

In [9]:
select CONCAT(cu.FirstName,' ',cu.LastName) as 'Name',SUM(inv.Total) as Amount from customer cu join invoice inv on cu.CustomerId=inv.CustomerId
group by cu.CustomerId,cu.FirstName,cu.LastName having SUM(inv.Total) between 36.62 and 37.62 order by SUM(inv.Total) asc

Name,Amount
Puja Srivastava,36.64
Leonie Köhler,37.62
Daan Peeters,37.62
Kara Nielsen,37.62
Eduardo Martins,37.62
Alexandre Rocha,37.62
Roberto Almeida,37.62
Fernanda Ramos,37.62
Mark Philips,37.62
Frank Harris,37.62
Michelle Brooks,37.62
Kathy Chase,37.62
John Gordon,37.62
Patrick Gray,37.62
Robert Brown,37.62
Edward Francis,37.62
Martha Silk,37.62
Aaron Mitchell,37.62
Ellie Sullivan,37.62
Madalena Sampaio,37.62
Hannah Schneider,37.62
Niklas Schröder,37.62
Marc Dubois,37.62
Lucas Mancini,37.62
Stanisław Wójcik,37.62
Enrique Muñoz,37.62
Emma Jones,37.62
Phil Hughes,37.62
Steve Murray,37.62
Mark Taylor,37.62
Diego Gutiérrez,37.62