In [1]:
 SELECT  ord_no,purch_amt,
cust_name,city 
FROM orders ,customer  
WHERE orders.customer_id=customer.customer_ID 
AND purch_amt BETWEEN 500 AND 2000

ord_no,purch_amt,cust_name,city
70007,948.50,Graham Zusi,California
70010,1983.43,Fabian Johnson,Paris

In [2]:
SELECT cust_name AS "Customer_Name", 
name AS "Salesman" 
FROM customer  
INNER JOIN salesman  
ON customer.salesman_id=salesman.salesman_id;

Customer_Name,Salesman
Nick Rimando,James Hoog
Jozy Altidor,Paul Adam
Fabian Johnson,Mc Lyon
Graham Zusi,Nail Knite
Brad Davis,James Hoog
Julian Green,Nail Knite
Geoff Cameron,Lauson Hen

In [3]:
SELECT cust_name AS "Customer Name", 
 name AS "Salesman", commission 
FROM customer  
INNER JOIN salesman  
ON customer.salesman_id=salesman.salesman_id 
WHERE salesman.commission>0.12

Customer Name,Salesman,commission
Nick Rimando,James Hoog,0.15
Jozy Altidor,Paul Adam,0.13
Fabian Johnson,Mc Lyon,0.14
Graham Zusi,Nail Knite,0.13
Brad Davis,James Hoog,0.15
Julian Green,Nail Knite,0.13

In [4]:
SELECT a.cust_name AS "Customer_Name", 
a.city AS "Customer_city", b.name AS "Salesman", b.city,b.commission  
FROM customer a  
INNER JOIN salesman b  
ON a.salesman_id=b.salesman_id 
WHERE b.commission>0.12 
AND a.city<>b.city;

Customer_Name,Customer_city,Salesman,city,commission
Jozy Altidor,Moscow,Paul Adam,Rome,0.13
Graham Zusi,California,Nail Knite,Paris,0.13
Julian Green,London,Nail Knite,Paris,0.13

In [5]:
SELECT a.ord_no,a.ord_date,a.purch_amt,
b.cust_name AS "Customer_Name", 
c.name AS "Salesman", c.commission 
FROM orders a 
INNER JOIN customer b 
ON a.customer_id=b.customer_id 
INNER JOIN salesman c 
ON a.salesman_id=c.salesman_id

ord_no,ord_date,purch_amt,Customer_Name,Salesman,commission
70001,2012-10-05,150.50,Graham Zusi,Nail Knite,0.13
70002,2012-10-05,65.26,Nick Rimando,James Hoog,0.15
70003,2012-10-10,2480.40,Geoff Cameron,Lauson Hen,0.12
70004,2012-08-17,110.50,Geoff Cameron,Lauson Hen,0.12
70005,2012-07-27,2400.60,Brad Davis,James Hoog,0.15
70007,2012-09-10,948.50,Graham Zusi,Nail Knite,0.13
70008,2012-09-10,5760.00,Nick Rimando,James Hoog,0.15
70010,2012-10-10,1983.43,Fabian Johnson,Mc Lyon,0.14
70011,2012-08-17,75.29,Jozy Altidor,Paul Adam,0.13
70012,2012-06-27,250.45,Julian Green,Nail Knite,0.13
70013,2012-04-25,3045.60,Nick Rimando,James Hoog,0.15

In [6]:
SELECT item_mast.pro_name As "Item_Name", pro_price, company.com_name
   FROM item_mast 
     INNER JOIN company
        ON item_mast.pro_com = company.com_id;

Item_Name,pro_price,com_name
mother board,3200,asus
key board,450,frontech
ZIP drive,250,zebronics
speaker,550,frontech
Monitor,5000,samsung
DVD drive,900,iball
CD drive,800,iball
Printer,2600,epsion
Refill cartridge,350,epsion
Mouse,250,iball

In [7]:
SELECT AVG(pro_price) AS "Average_Price", company.com_name
   FROM item_mast 
    INNER JOIN company
     ON item_mast.pro_com= company.com_id
      GROUP BY company.com_name
        HAVING AVG(pro_price) >= 350;

Average_Price,com_name
3200,asus
1475,epsion
500,frontech
650,iball
5000,samsung

In [8]:
SELECT emp_details.emp_fname AS "First_Name", emp_lname AS "Last_Name",  
     dpt_allotment AS "Sanction_amount  ",
	   emp_department.dpt_name AS "Department"
       FROM emp_details 
         INNER JOIN emp_department
           ON emp_details.emp_DPT = emp_department.dpt_code;

First_Name,Last_Name,Sanction_amount,Department
Michale,Robbin,65000,IT
Jhon,Snares,15000,Finance
Joseph,Dosni,240000,HR
carlos,snares,15000,Finance
George,Mardy,55000,RD
Alex,Manuel,65000,IT
Alan,Snappy,55000,RD
Zanifer,Emily,240000,HR
Mario,Saule,15000,Finance
Henrey,Gabreil,240000,HR
Maria,Foster,65000,IT
Enric,Dosio,65000,IT
Kuleswar,Sitaraman,65000,IT